
.normal{
    height: 5vh;
    padding-left: 10%;
    border: 1px solid #ccc;
    cursor:pointer;
}
.error{
    height: 5vh;
    padding-left: 10%;
    border: 1px solid red;
    border-radius: 50px;
}
@media (max-width:768px){
   .normal,.error{
    font-size: 90%;
    padding-left: 2%;   
}
}