/* .container{
    height: 100vh;
    width: 100%;
    background: #67c4f0;
    background: linear-gradient(90deg, rgba(103, 196, 240, 1) 0%, rgba(237, 237, 237, 1) 100%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}  */
/* .card{
    display: flex;
    flex-direction: column;
    align-items: center;

} */