button{
    background-color: var(--button-primary);
    color: var(--color-white);
    margin-top: 5%;
    height: 5vh;
    border: none;
    padding: var(--md);
    border-radius: 5px;
}
@media (max-width:768px){
 button{
       
       width: 50%;
       margin-bottom: 10%;
       margin: var(--xg) auto;
    }
}
